@import "../mixins";
$breakpoint: 1100px;

.PageContainer__Children {
  padding: 18px 56px;
  display: flex;
  flex-wrap: wrap;

  //& > div {
  //  border-width: 2px;
  //  border-style: solid;
  //  border-radius: 20px;
  //}

  .category {

  }

  .timePeriod {

  }

  .graph {
    //width: 62%;
    @media screen and (max-width: $breakpoint) {
      width: 100%;
    }
    @media screen and (min-width: $breakpoint) {
      width: 62%;
    }
  }

  .leftBar {

    //width: 35%;

    @media screen and (max-width: $breakpoint) {
      width: 100%;
    }
    @media screen and (min-width: $breakpoint) {
      min-width: 400px;
      width: 35%;
    }
  }

  .tile {
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;

    @include theme-aware("background", "color-tile-background");
    @include theme-aware("border-color", "color-tile-border");
  }

}

.radioIcon {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-width: 3px;
  @include theme-aware("border-color", "color-text");
  border-style: solid;
  display: inline-block;
  margin-right: 6px;
}

.checkIcon {
  height: 15px;
  width: 15px;
  border-width: 3px;
  @include theme-aware("border-color", "color-text");
  border-style: solid;
  display: inline-block;
  margin-right: 6px;
}

.title {
  font-size: 26px;
  margin-bottom: 15px;
}
.optionRow {
  display: flex;
  align-items: center;
  padding: 5px 0;

  & > .selected {
    @include theme-aware("background-color", "color-button");
  }

}
.optionRow:hover {
  cursor: pointer;
}
.productPicker {
  border-style: solid;
  border-radius: 10px;
  padding: 0 8px;
  margin-left: 10px;
  @include theme-aware("border-color", "color-button");
  @include theme-aware("background", "color-button");
}
.selected {
  font-weight: bold;
  text-decoration: underline;
}

g {
  & > rect {
    @include theme-aware("fill", "color-button");
  }

  & > rect:hover {
    @include theme-aware("fill", "color-text");
  }
}