@import "../mixins";
@import "../breakpoints";

.PageContainer {

  &__Controls {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 8px 16px 8px 16px;
    height: 75px;

    &__Nav {
      display: flex;
      align-items: center;
    
      & > div {
        cursor: pointer;
      }

      &-arrow {
        position: relative;
        width: 40px;
        height: 40px;
        clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
        box-sizing: border-box;
        transform: rotate(-90deg);
        border: 3px solid;
        border-radius: 6px;
        margin-top: 7px;
        @include theme-aware("background", "color-tile-border");
      }
      
      &-text {
        margin-left: 10px;
        font-size: 30px;
        @include theme-aware("color", "color-text");

        @media screen and (max-width: $medium-small_screen_breakpoint) {
          display: none;
        }
      }
    }

    &__Lang {
      margin-right: 1.5em;
      margin-left: auto;
    }

    &__Lang, &__Theme {
      & > button {
        margin-left: .6em !important;
      }
    }
  }

  &__Header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 16px 56px 8px 56px;

    @media screen and (max-width: $medium-small_screen_breakpoint) {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-left: 15px;
    }
    
    &-text {
      display: block;
      margin: 0;

      @media screen and (max-width: $medium-small_screen_breakpoint) {
        font-size: 1.7em;
      }
    }

    &__Clock {

      @media screen and (min-width: $medium-small_screen_breakpoint) {
        margin-left: auto;
        font-size: 2em;
      }
      
      font-size: 1.1em;

      &-time {
        margin-right: .2em;
        font-weight: 600;
      }

      &-date {
        font-weight: 300;
      }
    }
  }
}