@import "../mixins";

.Tile {
    position: relative;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    & > .Tile__header {
        position: relative;
        top: 20px;
        left: 20px;
        font-size: 36px;
    }
}

.Tile {
    @include theme-aware("background", "color-tile-background");
    @include theme-aware("border-color", "color-tile-border");
}
