@import "../mixins";

.Tile {
    position: relative;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    & > .Tile__header {
        margin: 10px 17px 0px 17px;
        padding: 0 3px;
        font-size: 36px;
        border-bottom: 2px solid;
        @include theme-aware("border-bottom-color", "color-hline");
    }

    @include theme-aware("background", "color-tile-background");
    @include theme-aware("border-color", "color-tile-border");
}