@import "../breakpoints";

.UserIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;

  @media screen and (max-width: $medium-small_screen_breakpoint) {
    display: none;
  }
}
