$themes: (
  light: (
    color-background: #f6fafe,
    color-tile-background: #daecfb,
    color-tile-border: #7ebbf1,
    color-button: #7ebbf1,
    color-text: #0c1e31,
  ),
  dark: (
    color-background: #f6fafe,
    color-tile-background: #daecfb,
    color-tile-border: #7ebbf1,
    color-button: #7ebbf1,
    color-text: #0c1e31,
  ),
);
