$themes: (
  light: (
    color-background: #f6fafe,
    color-tile-background: #daecfb,
    color-tile-border: #7ebbf1,
    color-button: #7ebbf1,
    color-text: #0c1e31,
    color-hline: #7ebbf120,
  ),
  dark: (
    color-background: #0a1929,
    color-tile-background: #001e3c,
    color-tile-border: #1e4976,
    color-button: #0074ea,
    color-text: #ffffff,
    color-hline: #1e497620,
  ),
);
